body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    font-size: 20px;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #ffffff;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #00000069 100%);
}

section.module.parallax-1{
    background-image: url("back.png");
}

section.module.parallax-2{
    background-image: url("back.png");
}

section.module.parallax-3{
    background-image: url("back.png");
}


section.module.parallax h1 {
    color: #fff;
    text-align: center;
    font-size: 80px;
    z-index: 50;
    text-transform: uppercase;
    z-index: 2; /* Garante que o título apareça acima do spline-viewer */
}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
   }

   .navbar a{
    color: #ffffff;
    text-decoration: none;
    margin: left 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;

}

.navbar a:hover,
.navbar a:active{
    color: #ffffff;
    text-decoration: none;
    
}

/* Estilos para dispositivos de tela grande (desktops) */
.container {
    width: 960px;
    margin: 0 auto;
  }
  
  /* Estilos para tablets */
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  }
  
  /* Estilos para celulares */
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0 10px;
    }
  }